@import './style/font.css';
@import './style/custom-block.css';
@import './style/vp-code-group.css';
@import './style/var.css';
@import './style/main.css';

.VPHomeHero .main .text,
.VPHomeHero .main .name span {
    --tw-gradient-from: #99d3fb;
    --tw-gradient-via: #a1b8fc;
    /* 中间颜色点 */
    --tw-gradient-to: #ebc4fb;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-via), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* 兼容性 */
    color: transparent;
    /* 确保文本颜色透明 */
}

.VPButton.brand {
    background-color: #8e72f4 !important;
}

.VPLocalSearchBox #localsearch-list mark {
    background-color: rgba(255, 138, 128, 0.3);
}
/* .vitepress\theme\style\blur.css */
:root {

    --sidebar-text-color: rgba(0, 0, 0, 0.08);

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* Feature透明 */
    .VPFeature {
        border: none;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
        background-color: transparent;
    }

    /* 文档页侧边栏顶部透明 */
    .curtain {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    @media (min-width: 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(10px);
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* 取消图片大小限制 */
    .VPHomeHero .image img {
        max-width: none; /* 移除最大宽度限制 */
        width: 100%; /* 让图片宽度根据容器自适应 */
        height: auto; /* 保持图片的原始宽高比 */
        filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.5)); /* 使用 drop-shadow 替代 box-shadow */
    }
}

html.dark {
    --sidebar-text-color: rgba(255, 255, 255, 0.1);
}

/* 主题色背景 */
.fancybox__backdrop {
    background: rgba(var(--vp-c-brand), 0.8) !important;
    backdrop-filter: blur(10px);
}

.fancybox__slide.has-caption.f-zoomable{
    padding-top: 50px !important;
}

/* 图片圆角 */
.f-panzoom__viewport {
    border-radius: 12px !important;
    overflow: hidden !important;
    box-shadow: rgb(0,0,0,0.3) 0 0 20px !important;
}

.f-carousel__toolbar__column .f-button {
    border-radius: 8px !important;
    background: rgba(255, 255, 255, 0) !important;
    color: var(--vp-c-text-1) !important; /* 使用文本主色 */
}
.f-carousel__toolbar__column .f-button:hover {
    background: rgba(0, 0, 0, 0.2) !important; /* 白色稍微变浅 */
}

/* 深色模式下的按钮悬停 */
.dark .f-carousel__toolbar__column .f-button:hover {
    background: rgba(255, 255, 255, 0.2) !important; /* 白色稍微变浅 */
}

.f-button.is-arrow {
    background-color: rgba(255, 255, 255, 0) !important;
    color: var(--vp-c-text-1) !important; /* 使用文本主色 */
}

.f-button.is-arrow:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

.dark .f-button.is-arrow:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.f-caption {
    color: var(--vp-c-text-1) !important; /* 使用文本主色 */
}

[class="VPLink link link"],
:not([class="items"]) > [class*="VPSidebarItem"] > [class="item"],
[class*="VPSidebarItem"] > [class="item"][role="button"],
[class="title"][href="/"],
.VPNolebaseInlinePreviewLink,
.VPLink.link.vp-external-link-icon.no-icon.edit-link-button{
    border-radius: 8px !important;
    transition: all 0.25s ease !important;
}

[class="VPLink link link"]:hover,
:not([class="items"]) > [class*="VPSidebarItem"] > [class="item"]:hover,
[class*="VPSidebarItem"] > [class="item"][role="button"]:hover,
[class="title"][href="/"]:hover,
.VPLink.link.vp-external-link-icon.no-icon.edit-link-button:hover {
    background-color: var(--sidebar-text-color) !important;
    padding: 0 7px !important;
}

[class="VPLink link link"]:active,
:not([class="items"]) > [class*="VPSidebarItem"] > [class="item"]:active,
[class*="VPSidebarItem"] > [class="item"][role="button"]:active,
[class="title"][href="/"]:active,
.VPLink.link.vp-external-link-icon.no-icon.edit-link-button:active {
    padding: 0 12px !important;
}

.VPNolebaseInlinePreviewLink:hover {
    background-color: var(--sidebar-text-color) !important;
}

.VPNolebaseInlinePreviewLink:active {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* 父元素只保留这一句 */
.VPSidebarItem {
    overflow: hidden;
    transition: height 0.3s ease !important;
}

/* 展开状态 */
.VPSidebarItem .items {
    display: block !important; /* 覆盖 display:none */
    opacity: 1;
    transition: opacity 0.3s ease, max-height 0.3s ease !important;
}

/* 收起状态 */
.VPSidebarItem.collapsed .items {
    display: block !important;
    opacity: 0;
    max-height: 0; /* 高度同时变 0 */
    transition: opacity 0.3s ease, max-height 0.3s ease !important;
}